<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.zingle.atlas_adoption">
    <!--
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".ZingleMessagingActivity"
            android:label="@string/app_name" >
        </activity>
    -->

    <application>
        <!--<service
            android:name=".MessagesMonitor"
            android:enabled="false"
            android:exported="false"
            android:process="@string/app_name">

        </service>-->
    </application>

</manifest>
